<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumHW">
    <com.epam.marlen.test verbose="2" preserve-order="true" name="DesignPatterns">
        <classes>
            <class name="com.epam.marlen.test.TestClass"/>
        </classes>
    </com.epam.marlen.test>
</suite>